#### Calling some libraries

In [150]:
import pandas as pd
import numpy as np

#### Loading our data

In [151]:
df_amazon = pd.read_csv('./Datasets/amazon_prime_titles.csv')
df_disney = pd.read_csv('./Datasets/disney_plus_titles.csv')
df_hulu = pd.read_csv('./Datasets/hulu_titles.csv')
df_netflix = pd.read_csv('./Datasets/netflix_titles.csv')

#### Exploring structures of each dataframes

In [152]:
df_amazon.shape + df_disney.shape + df_hulu.shape + df_netflix.shape

(9668, 12, 1450, 12, 3073, 12, 8807, 12)

#### Comparing all the column name are the same

In [153]:
# First version
if not(tuple(df_amazon.columns) == tuple(df_disney.columns)):
    print('Error por aqui')
elif not(tuple(df_amazon.columns) == tuple(df_hulu.columns)):
    print('Error por aqui')
elif not(tuple(df_amazon.columns) == tuple(df_netflix.columns)):
    print('Error por aqui')
elif not(tuple(df_disney.columns) == tuple(df_hulu.columns)):
    print('Error por aqui')
elif not(tuple(df_disney.columns) == tuple(df_netflix.columns)):
    print('Error por aqui')
elif not(tuple(df_hulu.columns) == tuple(df_netflix.columns)):
    print('Error por aqui')
else:
    print("Todo Bien")

Todo Bien

In [154]:
# Second version
# Crear una lista con los nombres de las columnas de cada dataframe
cols = [df_amazon.columns, df_disney.columns, df_hulu.columns, df_netflix.columns]

# Comprobar si todas las listas de columnas son iguales
if len(set(map(tuple, cols))) != 1:
    print("Error: los dataframes tienen diferentes nombres de columna.")
else:
    print("Todo bien")

Todo bien

#### Checking for head of each dataframes

In [ ]:
df_amazon.head(2)

In [ ]:
df_disney.head(2)

In [ ]:
df_hulu.head(2)

In [ ]:
df_netflix.head(2)

Adding new Column 'Platform'

In [155]:
df_amazon['plataform']='amazon'
df_disney['plataform']='disney'
df_hulu['plataform']='hulu'
df_netflix['plataform']='netflix'

#### Adding the new 'id' column

In [156]:
df_amazon.insert(0, 'id', 'a')
df_disney.insert(0, 'id', 'd')
df_hulu.insert(0, 'id', 'h')
df_netflix.insert(0, 'id', 'n')

#### Concatening columns 'id' and 'show_id'

In [157]:
df_amazon['id'] = df_amazon.id.str.cat(df_amazon.show_id)
df_disney['id'] = df_disney.id.str.cat(df_disney.show_id)
df_hulu['id'] = df_hulu.id.str.cat(df_hulu.show_id)
df_netflix['id'] = df_netflix.id.str.cat(df_netflix.show_id)

In [158]:
print(tuple(df_amazon.columns))
print(tuple(df_disney.columns))
print(tuple(df_hulu.columns))
print(tuple(df_netflix.columns))

('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'plataform')
('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'plataform')
('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'plataform')
('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'plataform')

#### Concating all dataframes in one

In [159]:
df_completed = (pd.concat([df_amazon,df_disney,df_hulu,df_netflix], axis=0))

#### Reseting the indexes

In [160]:
df_completed = df_completed.reset_index(drop=True) # this is importan because the indexes were no correct

In [161]:
df_completed.shape

(22998, 14)

In [162]:
df_completed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
 13  plataform     22998 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.5+ MB

In [163]:
df_completed.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
plataform           0
dtype: int64

In [164]:
df = df_completed.copy()

#### Ahora usaremos df para llenar los None por 'G'

In [165]:
df['rating'].fillna('G', inplace=True)

In [ ]:
df.head()

#### viendo el tema de las fechas

In [168]:
df['date_added'] = df['date_added'].str.strip() # Esto se hizo ya que daba error el to_datatime por los espacios que tenian los datos de fecha

In [169]:
# convertir la columna 'date_added' a formato de fecha AAAA-mm-dd
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')
df['date_added'] = pd.to_datetime(df['date_added'])

In [ ]:
df.info()

#### All Text columns to lower_case

In [171]:
for i in range(0,(df.shape[1])):
    if df.dtypes.iloc[i] == 'object':
        df.iloc[:, i].fillna('Nulo', inplace=True)
        df.iloc[:, i] = df.iloc[:, i].apply(str.lower)
        continue

In [172]:
df.head(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon

#### Splitting Duration field

In [173]:
len(df.duration.unique())

254

In [174]:
df['duration'].duplicated().sum()

22744

In [175]:
len(df.duration)

22998

#### Numeric part from duration

In [177]:
separated = df["duration"].str.split(' ', n=1, expand=True)
df["duration_int"] = separated[0]
df["duration_type"] = separated[1]

In [180]:
df.head(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,amazon,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,amazon,110,min

#### String part from duration

In [34]:
# df = df.drop(['duration_type'], axis=1)

Check 'rating' column values

In [ ]:
df['rating'].unique()

In [ ]:
df.head(2)

Adding the 8 datasets

In [213]:
df1 = pd.read_csv('./Datasets/ratings/1.csv')
df2 = pd.read_csv('./Datasets/ratings/2.csv')
df3 = pd.read_csv('./Datasets/ratings/3.csv')
df4 = pd.read_csv('./Datasets/ratings/4.csv')
df5 = pd.read_csv('./Datasets/ratings/5.csv')
df6 = pd.read_csv('./Datasets/ratings/6.csv')
df7 = pd.read_csv('./Datasets/ratings/7.csv')
df8 = pd.read_csv('./Datasets/ratings/8.csv')

In [215]:
#concatenamos los datasets
frames =[df1,df2,df3,df4,df5,df6,df7,df8]
rating_united = pd.concat(frames, axis=0)

In [216]:
rating_united.shape

(11024289, 4)

In [222]:
#agrupamos los valores 'movieID' con el 'rating' para calcular la media de las valoracion de los clientes respecto a las peliculas
mean_score= rating_united.groupby('movieId')['rating'].mean()

In [223]:
#corroboramos los duplicados y eliminamos los que aparezcan 
raiting_unido_sd=rating_united.drop_duplicates(subset='movieId')

In [224]:
#agregamos la columna score , con el valor de la media de la valoracion de los clientes sobre cada pelicula
df['score'] = raiting_unido_sd.groupby('movieId')['rating'].transform(lambda x: mean_score.loc[x.name])

Round the column score

In [226]:
df.score = df.score.round(2)

Int to duration_type column

In [239]:
df['duration_int'] = pd.to_numeric(df['duration_int'], errors='coerce')

In [241]:
df['duration_int'] = df['duration_int'].fillna(0).astype(int)

In [ ]:
df.info()

** Save the csv file with the etl

In [261]:
# df=pd.DataFrame(df)
df.to_csv('./ETL.csv')

1. Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [243]:

#funcion 1 : devulve la pelicula con mayor duracion del año indicado segun cada plataforma
def get_max_duration(año:int,tipo_duracion:str, platforma:str):
    nuevalista = df[(df['release_year'] == año) &  (df['duration_type'] == tipo_duracion) & (df['plataform'] == platforma)]
    nuevalista = nuevalista.loc[nuevalista['duration_int'] == nuevalista['duration_int'].max()]
    result = nuevalista['title']
    return result

In [244]:
get_max_duration(2015, 'min' , 'netflix')

22518    the gospel of luke
Name: title, dtype: object

2. Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [245]:
def get_score_count (plataforma:str,puntaje:float,año:int):
    nuevalist = df[(df['plataform'] == plataforma) &  (df['score'] > puntaje) & (df['release_year'] == año)]
    result = nuevalist.shape[0]
    return result

In [254]:
get_score_count('amazon' , 1 , 2017)

483

3. Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [ ]:
def get_count_plataform(plataform:str):
    nuevalist =df[(df['plataform']==plataform)]
    count=nuevalist.shape[0]
    return count

4. Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [258]:
def get_actor(plataform:str, año:int):
    result = df[(df['plataform']==plataform) & (df['release_year']==año)]
    for i in result['cast']:
        if i != 'Sin dato ':
            i=i.replace(', ' , ',')
        else:
            pass
    lista=[]
    for i in result['cast']:
        if i != 'Sin dato':
            s=i.split(',')
            for j in range(len(s)):             
                if s[j] not in lista:
                    lista.append(s[j])
                else:
                    pass
        else:
            pass
    lista=list(set(lista))
    contador = 0
    dict={}
    for i in lista:
        contador = 0
        for j in result['cast']:
            if i in j.split(','):
                contador+=1
        dict[i]=contador
    if len(dict)==0:
        return 'la plataforma no brinda esta informacion'
    else:
        return max(dict,key=dict.get)

In [260]:
get_actor("amazon" , 2015)

'nulo'