#### Calling some libraries

In [398]:
import pandas as pd
import numpy as np

#### Loading our data

In [399]:
df1 = pd.read_csv('./Datasets/amazon_prime_titles.csv')
df2 = pd.read_csv('./Datasets/disney_plus_titles.csv')
df3 = pd.read_csv('./Datasets/hulu_titles.csv')
df4 = pd.read_csv('./Datasets/netflix_titles.csv')

#### Exploring structures of each dataframes

In [366]:
df1.shape + df2.shape + df3.shape + df4.shape

(9668, 12, 1450, 12, 3073, 12, 8807, 12)

#### Comparing all the column name are the same

In [451]:
# First version
if not(tuple(df1.columns) == tuple(df2.columns)):
    print('Error por aqui')
elif not(tuple(df1.columns) == tuple(df3.columns)):
    print('Error por aqui')
elif not(tuple(df1.columns) == tuple(df4.columns)):
    print('Error por aqui')
elif not(tuple(df2.columns) == tuple(df3.columns)):
    print('Error por aqui')
elif not(tuple(df2.columns) == tuple(df4.columns)):
    print('Error por aqui')
elif not(tuple(df3.columns) == tuple(df4.columns)):
    print('Error por aqui')
else:
    print("Todo Bien")

Todo Bien

In [368]:
# Second version
# Crear una lista con los nombres de las columnas de cada dataframe
cols = [df1.columns, df2.columns, df3.columns, df4.columns]

# Comprobar si todas las listas de columnas son iguales
if len(set(map(tuple, cols))) != 1:
    print("Error: los dataframes tienen diferentes nombres de columna.")
else:
    print("Todo bien")

Todo bien

#### Checking for head of each dataframes

In [369]:
df2.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...

In [370]:
df3.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

In [371]:
df4.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

#### Adding the new 'id' column

In [400]:
df1.insert(0, 'id', 'a')
df2.insert(0, 'id', 'd')
df3.insert(0, 'id', 'h')
df4.insert(0, 'id', 'n')

In [401]:
df1.head(1)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,a,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...

#### Concatening columns 'id' and 'show_id'

In [402]:
df1['id'] = df1.id.str.cat(df1.show_id)
df2['id'] = df2.id.str.cat(df2.show_id)
df3['id'] = df3.id.str.cat(df3.show_id)
df4['id'] = df4.id.str.cat(df4.show_id)

In [403]:
print(tuple(df1.columns))
print(tuple(df2.columns))
print(tuple(df3.columns))
print(tuple(df4.columns))

('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description')
('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description')
('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description')
('id', 'show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description')

In [376]:
df1.head(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

#### Concating all dataframes in one

In [404]:
df = (pd.concat([df1,df2,df3,df4], axis=0))

#### Reseting the indexes

In [408]:
df = df.reset_index(drop=True) # this is importan because the indexes were no correct

In [411]:
df.shape

(22998, 13)

In [379]:
df.tail(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8805,ns8806,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,ns8807,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [380]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

In [381]:
df.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
dtype: int64

In [412]:
df_initial = df.copy()

#### Ahora usaremos df para llenar los None por 'G'

In [413]:
df['rating'].fillna('G', inplace=True)

In [ ]:
df.head()

#### viendo el tema de las fechas

In [415]:
df['date_added'] = df['date_added'].str.strip() # Esto se hizo ya que daba error el to_datatime por los espacios que tenian los datos de fecha

In [416]:
# convertir la columna 'date_added' a formato de fecha AAAA-mm-dd
df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')
df['date_added'] = pd.to_datetime(df['date_added'])

In [417]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  datetime64[ns]
 8   release_year  22998 non-null  int64
 9   rating        22998 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 2.3+ MB

#### All Text columns to lower_case

In [388]:
df.head(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [418]:
for i in range(0,(df.shape[1])):
    if df.dtypes.iloc[i] == 'object':
        df.iloc[:, i].fillna('Nulo', inplace=True)
        df.iloc[:, i] = df.iloc[:, i].apply(str.lower)
        continue

In [419]:
df.head(2)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...

#### Splitting Duration field

In [420]:
len(df.duration.unique())

254

In [421]:
df['duration'].duplicated().sum()

22744

In [422]:
len(df.duration)

22998

#### Numeric part from duration

In [424]:
df['duration_int'] = df['duration'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

#### String part from duration

In [432]:
# df = df.drop(['duration_type'], axis=1)

In [435]:
df['pos'] = df['duration'].str.find('[a-zA-Z]')

In [440]:
df['duration_type'] = df['duration'].str.replace('\d+', '')

C:\Users\alfre\AppData\Local\Temp\ipykernel_82796\2173080583.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['duration_type'] = df['duration'].str.replace('\d+', '')

In [450]:
# Comprueba que los strings nulos de duration y duration_type sean iguales
df['duration'].str.count('nulo').sum()
df['duration_type'].str.count('nulo').sum()

482